*
!/.gitignore
!/*/

!fish/config.fish
!ranger/rc.conf
!sway/config
!waybar/*
!nvim/init*
!nvim/lua
!nvim/lua/plugins.lua
!nvim/snippets
!nvim/snippets/*
!zathura/zathurarc
!foot/foot.ini
!vifm/vifmrc
!direnv/direnv.toml
!lf/lfrc
