*
!/.gitignore
!/*/

!alacritty/alacritty.yml
!fish/config.fish
!i3status/config
!ranger/rc.conf
!sway/config
!waybar/*
!wofi/*
!chromium-flags.conf
!zathura/zathurarc

nvim/*
nvim/.gitignore
!nvim/init.vim

