Postman/
QtProject.conf
Slack/
calibre/
chromium/
configstore/
darktable/
dconf/
discord/
fish/fishd.e480
fish/functions/
gconf
gtk-2.0/
htop/
inkscape/
keepassxc/
mimeapps.list
nvim/
pavucontrol.ini
pulse/
yarn/
yay/
